<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Логистическая система | авторизация</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
sid: {{- sid -}}<br>
counter: {{- counter -}}<br>
{{- authorizationStatus -}}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 align="center">Логистическая система</h1>
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Вход в систему</h3>
                </div>
                <div class="panel-body">
                    <form action="{{- documentFolderPath -}}/sign-in" role="form" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" value="client@gmail.com" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="111">
                            </div>
                            <button type="submit" class="btn btn-lg btn-success btn-block">Вход</button>
                            <a href="sign-up" class="btn btn-lg btn-link btn-block">Регистрация</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'layout/footer.html' %}